= render partial: 'header'

.user__main
  .user__main__container
    %h2.user__main__registration 会員登録完了
    .user__main__form
      .user__main__form__container__step5
        %h3.user__step5 ありがとうございます。
        %h3.user__step5 会員登録が完了しました。
        %submit.user__step5__submit__button メルカリをはじめる

= render partial: 'footter'