%head
  %link{:href => "https://use.fontawesome.com/releases/v5.6.3/css/all.css", :rel => "stylesheet"}/


%body
  .header 
  /のちにrenderします
  %section.item-box
    %h1.item-box__name わたしを購入したまえ
    /商品の名前
    .item-box__main
      .item-box__main__photo
        .item-box__main__photo__upper
          .item-box__main__photo__upper__stage
            .item-box__main__photo__upper__stage__active
              .item-box__main__photo__upper__stage__active__inner
                %image.item-box__main__photo__upper__stage__active__inner__image{alt: "ムスカ", src: "https://blog-001.west.edge.storage-yahoo.jp/res/blog-35-ac/ryutarou184/folder/432793/55/2276055/img_0"}
                /商品の画像
        .item-box__main__photo__dots
            %span
            .item-box__main__photo__dots__dot__inner
              %image.item-box__main__photo__dots__dot__inner__image{alt: "ムスカ", src: "https://blog-001.west.edge.storage-yahoo.jp/res/blog-35-ac/ryutarou184/folder/432793/55/2276055/img_0"}
              /全商品を表示
    %table.item-box__main__table
      %tbody
        %tr
          %th 出品者
          %td 
            ムスカ大佐
            /= link_to 出品してるユーザーへ
            %div
              .item-user-rating
                %i.fas.fa-laugh-squint
                %span 100
                /評価を実装できたらここに持ってくる
              .item-user-rating
                %i.fas.fa-meh
                %span 0
              .item-user-rating
                %i.fas.fa-tired
                %span 0
        %tr
          %th カテゴリー