%link{:href => "https://use.fontawesome.com/releases/v5.6.1/css/all.css", :rel => "stylesheet"}/
.item__content
  %header.item__header
    %h1.item__header__name
      %a{:href => "https://www.mercari.com/jp/"}
      .item__main__image
        %img.item__mercari{:alt => "mercari", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?3296506464"}
  .item__main


    .item__main__content


      .item__main__content__box
        .item__main__content__box__inner
        %h2.head__message 商品の情報を入力

        .item__sell__form
          .sell__image__box
            %h3.sell__image__box__upper
              出品画像
              %span.item__form__require
                必須
            %p.item__upload__comments
              最大10枚までアップロードできます
            .sell__image__box__image__area
              %textarea.item__upload__box{:placeholder =>'ここには画像投稿の機能をつけますが、僕の力不足によって不可能かもしれません。', :rows => "5"}

          .sell__content__item__name
            .item__group
              %label.item__upper__message
                商品名
                %span.item__form__require
                  必須
              %div.input
                %input.input-default{:placeholder => "商品名（必須 40文字まで)",}
            .item__group#item__descriptioon
              %label.item__upper__message
                商品の説明 
                %span.item__form__require
                  必須
              %div
                %textarea.textarea-default{:placeholder => "商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。", :rows => "5"}


          .sell__content__items__detail
            %h3.item__form__message
              商品の詳細
            .sell__content__item__form
              .item__group
                %label.item__upper__message
                  カテゴリー
                  %span.item__form__require
                    必須
                %div.select__btn
                  %i.fas.fa-chevron-down.fa-spin
                  %select.item__select__list
                    .item__selecter
              .item__group__margin
                %label.item__upper__message
                  商品の状態
                  %span.item__form__require
                    必須
                %div.select__btn
                  %i.fas.fa-chevron-down.fa-spin
                  %select.item__select__list
                    .item__selecter
              

          .sell__content__items__delibery
            %h3.item__form__message
              配送について
            %a.fas.fa-question-circle{:href => ""}
            .sell__content__item__form
              .item__group
                %label.item__upper__message
                  配送料の負担
                  %span.item__form__require
                    必須
                %div.select__btn
                  %i.fas.fa-chevron-down.fa-spin
                  %select.item__select__list
                    .item__selecter
              .item__group__margin
                %label.item__upper__message
                  発送元の地域
                  %span.item__form__require
                    必須
                %div.select__btn
                  %i.fas.fa-chevron-down.fa-spin
                  %select.item__select__list
                    .item__selecter
              .item__group__margin
                %label.item__upper__message
                  発送までの日数
                  %span.item__form__require
                    必須
                %div.select__btn
                  %i.fas.fa-chevron-down.fa-spin
                  %select.item__select__list
                    .item__selecter
                  
          .sell__content__item__price
            %h3.item__form__message
              販売価格(300〜9,999,999)
              %a.fas.fa-question-circle{:href => ""}
            .sell__content__item__price__form
              %li.item__group
                %label.item__upper__message
                  価格
                  %span.item__form__require
                    必須
                %div.select__btn
                  %i.fas.fa-chevron-down.fa-spin
                  %select.item__select__list
                    .item__selecter
              %li.comission
                .comission__left
                  販売手数料 (10%)
                .comission__right
              %li.profit
                .profit__left
                  販売利益
                .profit__right

          .sell__content__item__submit
            .sell__content__item__submit__form
              %div
                %p
                  %a.precautions{:href => "/jp/help_center/getting_started/prohibited_items/", :target => "_blank"}
                    禁止されている出品
                  %a.precautions{:href => "/jp/help_center/getting_started/prohibited_conduct/", :target => "_blank"}
                    行為を必ずご確認ください。
                %p.precautions
                  またブランド品でシリアルナンバー等がある場合はご記載ください。
                  %a.precautions{:href => "/jp/help_center/getting_started/counterfeit_goods/", :target => "_blank"} 偽ブランドの販売は犯罪であり処罰される可能性があります。
                %p.precautions
                  また、出品をもちまして
                  %a.precautions{:href => "/jp/seller_terms/"} 加盟店規約に同意したことになります。
              %button.btn-default.btn-red{:type => "submit"} 出品する
              %button.btn-default.btn-gray もどる


            

  %footer.item__footer
    .item__footer__box
      %nav.item__footer_box__list
        %ul.text__clearfix
          %li.text__clearfix__item
            %a.head_up{:href => "https://www.mercari.com/jp/privacy/"} プライバシーポリシー
          %li.text__clearfix__item
            %a.head_up{:href => "https://www.mercari.com/jp/tos/"} メルカリ利用規約
          %li.text__clearfix__item
            %a.head_up{:href => "https://www.mercari.com/jp/tokutei/"} 特定商取引に関する表記
      %a{:href => "https://www.mercari.com/jp/"}
        %img.single-footer-logo{:alt => "mercari", :height => "65", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?3296506464", :width => "80"}/
      %p
        %small.item__footer__logo © 2019 Mercari
        
