.buy-main{
  width: 100vw;
  height: 100%;
  
  &__content{
    width: 700px;
    background-color: white;
    margin: 0 auto;

    &__header{
      font-size: 22px;
      text-align: center;
      padding: 16px;
      border-bottom: solid thin ;
      border-color: #f5f5f5;

    }
    &__item{
      padding: 28px 87.5px;
      max-width: 100%;
      margin: 0 auto;
      border-bottom: solid thin ;
      border-color: #f5f5f5;

      &__inner{
        max-width: 320px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        width: 100%;

        .buy-main__content__item__name{
          width: calc(100% - 80px);
          margin: 0 0 0 16px;
          text-align: left;
          font-size: 16px;
          line-height: 1.5;
        }

        .buy-main__content__item__form{
          margin: 0 auto;
          text-align: center;
          margin-top: 8px;
          width: 100%;

          &__price{
            font-weight: bold;
            font-size: 16px;

            &__commission{
              font-weight: 600;
              font-size: 12px;
              margin-left: 10px;
            }

          }
          .buy-main__content__item__point{
            margin: 16px 0 0;

              .buy-main__content__item__num__form{
                background-color:rgb(204, 204, 204);
                padding: 16px;
              }
          }
          .buy-main__content__item__pay{

            &__num{
              font-size: 18px;
              width: 100%;
              display: flex;
              margin: 8px 0 0 ;
              justify-content: space-between;
              

              .buy-main__content__item__you__pay{
                font-weight: bold;
                width: 60%;
                display: table-cell;
                padding: 16px 0;
                text-align: left;

              }

              .buy-main__content__item__buy__num{
                font-weight: bold;
                width: 40%;
                display: table-cell;
                padding: 16px 0;
                text-align: right;

              }

            }

          }

          .buy-btn{
            width: 100%;
            line-height: 48px;
            font-size: 14px;
            margin: 8px 0 0 ;
            background: #ea352d;
            border: 1px solid #ea352d;
            color: #fff;

          }

        }
       
      }

    }

    .buy-main__content__user__info{
      padding: 24px 87.5px 60px;
      max-width: 100%;
      margin: 0 auto;
      border-bottom: solid thin ;
      border-color: #f5f5f5;

    
    .buy-main__content__user__inner{
        margin: 0 auto;
        max-width: 320px;
        flex-wrap: wrap;
        width: 100%;;
        
        .buy-delibery-address{
          color: black;
          font-weight: bold;
          font-size: 14px;

        }
        .buy-delibery-address__users{
          font-weight: thin;
            margin: 8px 0 0;
            font-size: 12px;
            line-height: 0.7;

       }
        
        &__text{
          width: calc(100% - 80px);
          margin: 0 0 0 16px;
          text-align: left;
          font-size: 16px;
          line-height: 1.5;

        }

        .buy-user-info-fix{
          display: inline-block;
          position: relative;
          font-size: 14px;
          color: #0099E8;
          float: right;
          left: 16px;
          text-decoration: none;

          .fas.fa-chevron-right{
            margin-left: 8px;

          }

        }

    }
  }
  .buy-main__content__pay__info{
      padding: 24px 87.5px 60px;
      max-width: 100%;
      margin: 0 auto;
      .buy-main__content__user__inner{
        margin: 0 auto;
        max-width: 320px;
        flex-wrap: wrap;
        width: 100%;;

      .buy-how-to-pay{
        color: black;
        font-weight: bold;
        font-size: 14px;
      }

      .buy-main__content__user__card{
        font-size: 14px;
        line-height: 0.7;

        &__num{
          margin-bottom: 4px;
          font-size: 12px;
        }
      }

      .buy-main__content__user__text{
        width: calc(100% - 80px);
        margin: 0 0 0 16px;
        text-align: left;
        font-size: 16px;
        line-height: 1.5;

      }

      .buy-user-info-fix{
        display: inline-block;
        position: relative;
        font-size: 14px;
        color: #0099E8;
        float: right;
        left: 16px;
        text-decoration: none;

        .fas.fa-chevron-right{
          margin-left: 8px;

        }
      }
    }
   }
  }
}