@mixin mypage1__box{
  height: 48px;
  padding: 16px;
  background: #fff;
  font-size: 14px;
  color: #333;
  position: relative;
  display: block;
  text-decoration:none;

  & i{
  position:absolute;
  top:20px;
  right:20px;
  color:rgb(213, 211, 211);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
}  

.mypage1__logout{
  height:1400px;
  background-color:rgb(245, 245, 245);
}

.mypage1__left{
  width:280px;
  margin: 50px 0 0 180px;
  float:left;

    &__main{
      width:280px;
      background-color:gray;
      display: flex;
      flex-direction: column;
    }

    &__h3{
      color:black;
      margin-top:30px;
    }

    .mypage1__main__container{
      @include mypage1__box();
      border-bottom:1px solid rgb(213, 211, 211);
    }

    .mypage1__main__container__end{
      @include mypage1__box();
    }

    .mypage1__main__container:hover,
    .mypage1__main__container__end:hover{
      background-color:rgb(245, 245, 245);
      & i{
        color:black;
        -webkit-transform: translateX(5px);
        -ms-transform: translateX(5px);
        transform: translateX(5px);
      }
    }

}

.mypage1_right{
  float:left;
  margin:50px 0 0 100px;

  .mypage1__right__logout{
    height:179px;
    min-width:700px;
    background-color: white;
    position: relative;

    &__button{
      @include submit__button();
      width: 320px;
      height:50px;
      text-align:center;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
    }
  }
}

.info__right{
  float:left;
  margin:50px 0 0 100px;

    &__container{
    width: 700px;
    margin: 0 auto;
    background-color: #fff;
    padding-bottom:150px;

      &__registration{
        text-align:center;
        font-size: 22px;
        padding: 10px;
        border-bottom:1px solid rgb(245, 245, 245);
        font-weight: 600;
      }
    }
}

.info__main{
  width:500px;
  height: 1000px;
  margin:0 auto;
  background-color: white;

  &__link{
    float:right;
    text-decoration: none;
  }
  &__h3{
    color:black;
    margin-top:50px;
    font-weight:600;
  }
  &__h4{
    color:black;
    font-size:15px;
    margin-top:5px;
  }

  &__container{
    margin-top: 50px;
  
    &__h3{
      color:black;
      font-weight:600;
      text-align:left;
      float:left;
    }
    &__span{
      @include user__field__span();
      background-color: rgb(213, 211, 211);
    }
    &__field{
      @include user__text__field();
      margin: 5px 0 0;
      width:100%;
      border:1px solid rgb(245, 245, 245);
    
    }
  }
  &__button{
    @include submit__button();
    width: 100%;
    height:50px;
    text-align:center;
    margin-top:50px;
  }
}
