
*, *:before, *:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
       -o-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.mypage-main{
  max-width: 1020px;
  background-color: rgb(245, 245, 245);
  margin: 40px auto;
  &__mainbox {
    float: left;
    width: 700px;
    
    &__upbox {
      height: 200px;
      padding: 20px;
      background-image: url("https://www.mercari.com/jp/assets/img/mypage/user-bg.jpg?33381563");
      text-align: center;
      position: relative;
      .profiles{
          position: absolute;
          top: 25%;
          left: 0;
          right: 0;
        .profile-logo{
          height: 60px;
          width: 60px;
          background-color: white;
          border-radius: 50%;
        }
        p{
          font-size: 14px;
          font-weight: bold;
          margin-top: 8px;
          font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
        }
      }
    }
  
    &__downbox {
      min-height: 100%;
      max-width: 700px;
      
      ul.mypage-tabs{
        display: block;
        text-align: center;
        background: #eee;
        li.tab{
          width: 50%;
          float: left;
          color: #333;
          font-size: 16px;
          font-weight:bold;
          line-height: 72px;
          font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
          }
      }         //ul.mypage-tabs

      &__tab-content {
        display: block;

        li{
          border-bottom: 1px solid #eee;
          background-color: white;
          .info-list-box{
            display: block;
            min-height: 80px;
            padding: 16px;
            color: #333;
            .image_info{
              position: relative;
              .mercari-profile-icon{
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;
              }
            }
            .text_info{
              margin: 0 40px 0 68px;
              font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
              font-size: 14px;
              line-height: 1;
            }
            .show-infolist-btn{
              display: block;
              height: 56px;
              margin: 0 auto;
              background: #eee;
              color: #333;
              line-height: 56px;
              text-align: center;
              text-decoration: none; 
              font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
              font-size: 14px;
            }
            .show-infolist-btn:hover {
              background-color: #fafafa;
            }

          }       //info-list-box
        }         //li

        li.h:hover {
          background-color: #fafafa;
        }

      }           //tab-content

    }             //downbox
  }               //mainbox
}


.action-btn{
  background: white;
  border-top: 2px solid #ea352d;
}

.non-list{
  display: none;
}

.not-found-list{
  padding: 170px 0 60px;
  background: url(https://www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?3296506464);
  background-size: 120px 120px;
  background-repeat: no-repeat;
  background-position: center 40px;
  text-align: center;
  font-size: 16px;
  color: #ccc;
  font-weight: bold;

}

////////////購入した商品//////////////
.buy{
  margin-top: 40px ;
}

li.tab-buy{
  width: 50%;
  float: left;
  color: #333;
  font-size: 16px;
  font-weight:bold;
  line-height: 72px;
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  }


  .buy-title{
  display: block;
  padding: 0 16px;
  background: #fafafa;
  font-weight: bold;
  font-size: 16px;
  font-weight: bold;
  line-height: 72px;
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  }



  

  /////プロフィール編集ページ//////////

  p.plofile-title{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: white;
    border-bottom: 1px solid #f5f5f5;
    font-size: 24px;
    padding: 8px 24px;
    font-family: 'Source Sans Pro', Helvetica , Arial, 'æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“', 'YuGothic', 'ãƒ¡ã‚¤ãƒªã‚ª', 'Meiryo', sans-serif;
    color: #333333;
    font-weight:bold;
  }

  .profiles-edit_page{
    padding: 95px 16px 0;
    .profile-logo{
      height: 60px;
      width: 60px;
      background-color: white;
      border-radius: 50%;
    }
    .input-myname{
      width: 220px;
      margin: 0 0 0 8px;
      vertical-align: middle;
      height: 48px;
      padding: 10px 16px 8px;
      border-radius: 4px;
      border: 1px solid #ccc;
      background: #fff;
      line-height: 1.5;
      font-size: 16px;
      margin: 0 0 50px 8px;
    }
  }

  .mypage-main__mainbox__downbox-profile {
    min-height: 100%;
    max-width: 700px;
    padding: 40px 16px;
    background: white;
    .self-introduction{
      display: block;
      width: 100%;
      min-height: 216px;
      padding: 10px;
      border: 1px solid #ccc;
      background: #fff;
      font-size: 16px;
      line-height: 1.5;
    }
    .btn-red{
      margin: 16px 0 0;
      background: #ea352d;
      border: 1px solid #ea352d;
      color: #fff;
      width: 100%;
      line-height: 48px;
      font-size: 14px;
    }
  }