@mixin submit__button{
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
  display: block;
  width: 100%;
  line-height: 48px;
  font-size: 14px;
  margin-top:20px;
}
@mixin user__text__field{
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}
@mixin user__field__span{
  margin: 0 0 0 8px;
  padding: 2px 4px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  vertical-align: top;
  float:left;
}
@mixin icon{
  font-size:20px;
  position: absolute;
  top: 17px;
  left: 10px;
}
@mixin user_p{
  font-size:14px;
  line-height: 50px;
  text-align:center;
}
@mixin user-sns-field{
  height:50px;
  margin-top:30px;
  position: relative;
}

/*--ヘッダーアイコン部分--*/
.user__header__position{
  height: 128px;
  line-height: 177px;
  width:750px;
  margin:0 auto;
  display: flex;
}
.user__header img{
  width: 185px;
  height: 49px;
  margin-top:40px;
}
.user__header__ul li{
  display:inline-block;
  margin:0 10px 0;
  height: 128px;
}

//ヘッダーの遷移状況表示部分
@mixin progress_li{
  margin: 0 35px 0 0;
  padding: 0;
  position: relative;
  z-index: 40;
  display: inline-block;
  min-width: 60px;
  font-size: 12px;
}
@mixin progress_status{
  position: absolute;
  left: 40%;
  width: 12px;
  height: 12px;
  margin: 8px auto 0;
  border-radius: 50%;
  z-index: 30;
}
@mixin progress-status_bar {
  position: absolute;
  left: 50%;
  top: 30px;
  bottom: 5px;
  display: block;
  height: 2px;
  z-index: 10;
  }

.user__header__nav{
    height: 128px;
    width:750px;
    margin:0 auto;
    display: flex;
}
.progress {
    border: 0;
    display: inline-block;
    font-size: 0;
    text-align: center;
    margin:35px 0 30px 40px;
}
//テキスト部分
.progress_li_gray{
  @include progress_li();
  color: gray;
}
.progress_li_red{
  @include progress_li();
  color: red;
}
//丸の部分
.progress_status_gray{
  @include progress_status();
  background: gray;
}
.progress_status_red{
  @include progress_status();
  background: red;
}
//横棒バーの部分
.progress-status_bar_1_gray,
.progress-status_bar_2_gray,
.progress-status_bar_3_gray,
.progress-status_bar_4_gray{
  @include progress-status_bar();
  background: gray;
}
.progress-status_bar_1_red,
.progress-status_bar_2_red,
.progress-status_bar_3_red,
.progress-status_bar_4_red{
  @include progress-status_bar();
  background: red;
}
.progress-status_bar_1_gray,
.progress-status_bar_1_red{
  width: 100px;
}
.progress-status_bar_2_gray,
.progress-status_bar_2_red{
  width: 120px;
}
.progress-status_bar_3_gray,
.progress-status_bar_3_red{
  width: 110px;
}
.progress-status_bar_4_gray,
.progress-status_bar_4_red{
  width: 90px;
}

/*--会員情報入力--*/
.user__main{
  background-color: rgb(245, 245, 245);
}
.user__main__container{
  width: 700px;
  margin: 0 auto;
  background-color: #fff;
  padding-bottom:150px;

    .user__main__registration{
      text-align:center;
      font-size: 22px;
      padding: 32px;
      border-bottom:1px solid rgb(245, 245, 245);
      font-weight: 600;
    }
    .user__main__form__container{
      width:334px;
      margin: 0 auto;
    }
}
.user__field{
  margin-top: 20px;

    &__label{
      font-weight: 600;
      text-align:left;
      font-size:14px;
      float:left;
    }
    &__span{
    @include user__field__span();
    background-color: #ea352d;
    }
    &__container{
      width:334px;
      display:flex;
    }
    .user__text__field{
      @include user__text__field();
      margin: 3px 0 0;
      width:300px;
    }
}
.user__name__field{
  @include user__text__field();
  width: calc(50% - 25px);
  margin-right:5px;

    .user__field__confirmation h3{
      margin-top:15px;
      font-weight: 600;
      font-size:16px;
    }
}
.user__field__confirmation p{
  margin-top:8px;
  font-size:14px;
  color: rgb(51, 51, 51);
}
.user__field__xplanation{
  margin-top:8px;
  font-size:14px;
  color: #888;
}
.user__field__robott{
  margin:30px 0 30px 0;
}
.user__confirmation__information{
  margin:30px 0 0 0;
  float:right;
  font-size:14px;
}
.user__field__next{
  margin-top:10px;
  text-align:center;
  font-size:14px;
}
.user__submit__button{
@include submit__button();
}
.login-footter-list {
  display: flex;
  justify-content: center;
  margin: 0 0 0 0;
  a{
    margin: 0 15px 0 15px;
    font-size: 12px;
    color: #333333;
  }
}
.root__link__footter{
  margin-top:30px;
  width:85px;
}
.login__footter__list__text{
  font-size: 5px;
}

/*---step0----*/
.user__header__sns{
  height: 128px;
  line-height: 177px;
  text-align: center;
}
.user__field__mail{
  background-color:#eee;
  @include user-sns-field();
  & i{
    @include icon();
    color:#ccc;
  }
  & p{
    @include user_p();
  }
}
.user__field__fb{
  background-color:#385185;
  @include user-sns-field();
  & i{
    @include icon();
    color:white;
  }
  & p{
    @include user_p();
    color:white;
  }
}
.user__field__google{
  background-color:white;
  @include user-sns-field();
  border:1px solid black;
  & i{
    @include icon();
  }
  & p{
    @include user_p();
  }
}
.underbar__mail,
.underbar__google{
  text-decoration: none;
  color:black;
}
.underbar__fb{
  text-decoration: none;
}

/*--step2--*/
.user__confirmation{
  margin-top:10px;
  font-size:14px;
  font-weight: 200;
  color:#333333;
}
.user__step2__submit__button{
  @include submit__button();
  margin-top:50px;
  text-align:center;
}
.user__confirmation__telephone{
  float:right;
  font-size:14px;
}

/*----step3----*/
.user__text__field__step3{
  @include user__text__field();
  margin: 3px 0 0;
  width:300px;
  margin:5px 0 30px 0;
}
.user__field__span__step3{
  @include user__field__span();
  background-color:  rgb(213, 211, 211);
}

/*----step4----*/
.user__text__field__step4{
  width:150px;
  height:40px;
}
.user__field__step4__h4{
  display:inline-block;
  margin-left:10px;
}
.user__field__step4{
  margin-top: 10px;
}
.user__field__security__cord{
  margin-top: 50px;

  .user__field__label{
    font-weight: 600;
    text-align:left;
    font-size:14px;
    float:left;
  }
  .user__field__span{
  @include user__field__span();
  background-color: #ea352d;
  }
  .user__text__field__aaa{
    @include user__text__field();
    width:300px;
    margin:5px 0 0 0;
  }
}
.user__confirmation__cardnumber{
  display:inline-block;
  float:right;
  font-size:14px;
  margin:5px 0 30px 0;
}
.user__step4__submit__button{
  @include submit__button();
  text-align:center;
  margin-top:80px;
}

/*----step5----*/
.user__step5{
  text-align:center;
  font-size:20px;
  color:black;
}
.user__main__form__container__step5{
  width:334px;
  margin: 70px auto 0;
}
.user__step5__submit__button{
  @include submit__button();
  text-align:center;
  margin-top:70px;
}