
.a:hover { text-decoration: underline; }

.item-box__main__photo__dots__dot:hover {
  opacity: 1;
}

i {
  display: inline-block;
  font-family: 'icon-font';
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}


body {
  background-color: rgb(245, 245, 245);
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
  a {
    cursor: pointer;
  }
  .item-box {
    background: #fff;
    margin: 40px 370px 0;
    padding: 24px 40px 40px;
    a {
    color: #0099e8;
    }
    &__name {
      width: 620px;
      height: 66px;
      font-size: 24px;
      text-align: center;
      line-height: 1.4;
      font-weight: bold;
    }
    &__main {
      margin: 16px 0 0;
      box-sizing: inherit;
      height: 420px;
      &__photo {
        margin: 0 auto;
        background: #fafafa;
        position: relative;
        float: left;
        min-width: 300px;
        max-width: 300px;
        min-height: 375px;
        &__upper {
          position: relative;
          overflow: hidden;
          &__stage {
            position: relative;
            width: 3000px;
            &__active {
              min-height: 1px;
              width: 300px;
              float: left;
              &__inner {
                position: relative;
                width: 100%;
                height: 0;
                padding: 0 0 100%;
                &__image {
                  opacity: 1;
                }
              }
            }
          }
        }
        &__dots {
          line-height: 0;
          background-color: rgb(245, 245, 245);
          &__dot {
            width: 60px;
            height: 60px;
            max-height: none;
            position: relative;
            overflow: hidden;
            display: inline-block;
            opacity: .4;
            cursor: pointer;
            float: left;
            span {
              display: none;
            }
            &__inner {
              position: static;
              width: auto;
              height: auto;
              padding: 0;
              overflow: hidden;
              &__image {
                width: 100%;
                vertical-align: bottom;
              }
            }
          }
        }
      }
      &__table {
        float: right;
        max-width: 300px;
        height: 420px;
        margin: 0 auto;
        border-collapse: collapse;
        border: 1px solid #f5f5f5;
        tbody {
          tr {
            display: table-row;
            border-color: inherit;
            th {
              width: 39%;
              text-align: left;
              font-weight: 400;
              background: #fafafa;
              padding: 8px;
              border: 1px solid #f5f5f5;
            }
            td {
              width: 61%;
              background: #fff;
              display: table-cell;
              padding: 8px;
              border: 1px solid #f5f5f5;
              a {
                touch-action: manipulation;
                text-decoration: none;
              }
              .item-user-rating:first-child {
                margin: 0;
              }
              .item-user-rating {
                display: inline-block;
                margin: 8px 0 0 16px;
                i {
                  font-size: 16px;
                  vertical-align: middle;
                }
                .fas.fa-laugh-squint{
                  color: #ef5185;
                }
                span {
                  vertical-align: middle;
                  color: #333;
                  font-size: 14px;
                }
                .fas.fa-meh {
                  color: #fba933;
                }
                .fas.fa-tired {
                  color: #6ab5d8;
                }
              }
            }
          }
        }
      }
    }
    &__price {
      margin: 24px 0 0 ;
      text-align: center;
      &__bold {
        margin: 0 16px 0 0;
        font-size: 50px;
        font-weight: 600;
      }
      .tax {
        font-size: 10px;
      }
      .shipping {
        font-size: 16px;
      }
    }
    .buy-bottun {
      font-size: 24px;
      line-height: 60px;
      display: block;
      margin-top: 16px;
      background: #ea352d;
      color: #fff;
      text-align: center;
      font-weight: 600;
      text-decoration: none;
      transition: all ease-out .3s;
    }
    .description {
      padding-top: 32px;
      p {
        white-space: pre-wrap;
      }
    }
    .container {
      margin: 16px 0 0;
      font-size: 0;
      height: 33px;
      clear: both;
      &__left {
        float: left;
        .button-like {
          color: #333;
          border: 1px solid #f5f5f5;
          background: #f5f5f5;
          padding: 8px 16px;
          border-radius: 40px;
          transition: all ease-out .3s;
          min-height: 1.5em;
          cursor: pointer;
          .fas {
            font-size: 14px;
            vertical-align: middle;
            color: #ccc;
          }
          span {
            font-size: 14px;
            display: inline-block;
            margin: 1px 0 0 8px;
            vertical-align: middle;
          }
          .fade-in-down {
            animation: fade-in-down ease-out .4s forwards;
          }
        }
        .report {
          color: #333;
          display: inline-block;
          background: #f5f5f5;
          margin: 0 0 0 16px;
          padding: 8px 16px;
          border-radius: 40px;
          transition: all ease-out .3s;
          text-decoration: none;
          touch-action: manipulation;
          cursor: pointer;
          .fas.fa-wifi {
            font-size: 14px;
            vertical-align: middle;
            color: #ccc;
          }
          span {
            font-size: 14px;
            display: inline-block;
            margin: 1px 0 0 8px;
            vertical-align: middle;
          }
        }
      }
      &__right{
        margin: 8px 0 0 ;
        float: right;
        a {
          display: inline-block;
          color: #0099e8;
          text-decoration: none;
          .fas.fa-briefcase {
            font-size: 14px;
            vertical-align: middle;
          }
          span {
            font-size: 14px;
            display: inline-block;
            margin: 1px 0 0 8px;
            vertical-align: middle;
          }
        }
      }
    }
  }
  .item-message {
    width: 700px;
    margin: 8px auto;
    &__main {
      &__content {
        padding: 24px;
        background: #fff;
        form {
          p {
            padding: 8px;
            font-size: 14px;
            background: #fff6de;
          }
          .text_field {
            margin: 8px 0 0;
            display: block;
            width: 100%;
            max-width: 100%;
            min-height: 104px;
            padding: 10px;
            border: 1px solid #ccc;
          }
          .message-button {
            width: 100%;
            margin: 8px 0 0;
            text-align: center;
            background: #aaa;
            color: #fff;
            border: 1px solid #aaa;
            line-height: 48px;
            cursor: pointer;
            span {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
  .prev-next-link {
    margin: 24px auto 0;
    width: 700px;
    height: 24px;
    a {
      color: #0099e8;
      text-decoration: none;
    }
    .prev-link {
      width: 45%;
      float: left;
      padding: 0 0 0 14px;
      position: relative;
      word-wrap: break-word;
        .fa-angle-left {
          left: 0;
          position:absolute;top: 50%;
          transform: translate(0, -50%);
        }
      }
    }
  .next-link {
    width: 45%;
    float: right;
    padding: 0 14px 0 0;
    position: relative;
    word-wrap: break-word;
    text-align: right;
    .fa-angle-right {
      right: 0;
      position: absolute;top: 50%;
      transform: translate(0, -50%)
    }
  }
  .item-socialmedia {
    margin: 24px auto;
    padding: 32px 0  24px;
    width: 700px;
    background: #fff;
    .item-socialmedia__box {
      margin: 30px 0 0 ;
      text-align: center;
      li {
        display: inline-block;
        margin: 0 8px 8px 0;
        vertical-align: middle;
        .line-btn {
            cursor: default;
        }
        a {
          display: block;
          i {
            width: 44px;
            height: 44px;
            line-height: 44px;
            border-radius: 4px;
          }
          .fa-facebook-square {
            color: #fff;
            background: #385185;
            font-size: 26px;
          }
          .fa-twitter {
            font-size: 24px;
            color: #fff;
            background: #5d9dc9;
          }
          .fa-pinterest {
            color: #fff;
            background: #aa262a;
            font-size: 18px;
          }
          .fa-line {
            color: #fff;
            font-size: 30px;
          }
        }
        .insta_btn {
          display: block;
          height: 44px;
        }
        .insta_btn .insta{
          position: relative;
          display: inline-block;
          background: -webkit-linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;
          background: linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;
          overflow: hidden;
          border-radius: 4px;
        }
        .insta_btn .insta:before{
          content: '';
          position: absolute;
          top: 23px;
          left: -18px;
          width: 60px;
          height: 60px;
          background: -webkit-radial-gradient(#ffdb2c 10%, rgba(255, 105, 34, 0.65) 55%, rgba(255, 88, 96, 0) 70%);
          background: radial-gradient(#ffdb2c 10%, rgba(255, 105, 34, 0.65) 55%, rgba(255, 88, 96, 0) 70%);
        }
        .insta_btn .fa-instagram {
          color: #FFF;
          position: relative;
          z-index: 2;
          font-size: 35px;
        }
      }
    }
  }
  .item-user-profiele {
    width: 700px;
    margin: 0 auto;
    section {
      h2 {
        font-size: 22px;
        margin: 24px 0 8px;
        a {
          color: #0099e8;
          text-decoration: none;
        }
      }
    }
  }
}