%body
  .user__container
    %header.user__container__header
      %h1
        %a{:href => "#"}
          %img{:src => "https://www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?3296506464"}/
      .user__ul__container
        %ul.fix
          %li.active 会員情報
          %li 電話番号認証
          %li お届け住所入力
          %li 支払い方法
          %li 完了